/*Переходим в файл медиа и опишем в нем стили для блоков с текстом под разные расширения*/

.carousel-inner h3 {
 font-size: 40px;
 padding: 15px;
}
.carousel-inner p {
 font-size: 30px;
 padding: 10px;
}

@media all and (max-width: 768px) {
 .carousel-caption {
  bottom: 10%;
 }
 .carousel-inner h3 {
  font-size: 45px;
 }
 .carousel-inner p {
  font-size: 35px;
 }
}
@media all and (max-width: 600px) {
 .carousel-inner h3 {
  display: none;
 }
 .carousel-inner p {
  display: none;
 }
}